html[data-theme='dark'] {
  background: #fafafa;
  filter: invert(1) hue-rotate(180deg);
}

html[data-theme='dark'] img {
  filter: invert(1) hue-rotate(180deg);
}

body {
  background-color: whitesmoke;
}

h1,
p {
  font-family: Lato;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

button {
  border: solid 2px aliceblue;
  background-color: #fafafa;
}

button#summary {
  margin: 1rem 0 0.2rem;
  background-color: dodgerblue;
}

button:hover {
  background-color: dodgerblue;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
